{% extends 'core/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% crispy form %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content mt-3">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">

            <!-- IDEA: aca empieza login  -->

            <div class="container h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                  <div class="d-flex justify-content-center">
                    <h3 id="form-title">{% trans "Sign Up Closed" %}</h3>
                  </div>


                  <div class="d-flex justify-content-center form_container">
                  {% trans "We are sorry, but the sign up is currently closed." %}
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}



<h1>{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
