{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<section class="page-section about-heading">
  <div class="container">
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/llamada.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading-lower text-center"><u>Línea telefónica </u></h2>
                <div class="col-xl-6 col-lg-6 mx-auto text-center">

                  <p>Si estás necesitando ser escuchado ofrecemos una línea telefonica con la que podrás contactarnos rápidamente, recuerda:</p>
                  <p>¡Siempre es mejor caminar acompañado! </p>
                  <h5><strong>Teléfono:</strong> 096843570</h5>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
