{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/fracaso.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Email no enviado</span>
          <span class="section-heading-lower">Lo sentimos</span>
        </h2>
        <p class="mb-3">Ha ocurrido un error durante el envío, por favor vuelva a intentar
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{% url 'contacto_app:contacto' %}">Volver a intentar</a>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}
