{% extends 'core/base.html' %}

{% load static %}

{% block title %}Detalle del curso{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-warning sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              {% for video in course.videos.all %}
              <a class="nav-link active" href="{{video.get_absolute_url}}">
                {{video.title}}
              </a>
              {% endfor %}
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-light">
        <div class="text-right d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <div class="row">
            <div class="btn-toolbar mb-2 mb-md-0">
              {% if course_status != 'owned' %}
              <div class="btn-group mr-2">
                  {% if course_status == 'in_cart' %}
                  <a href="{% url 'cart_app:remove-from-cart' course.slug %}">
                    <button data-action="add" class="btn btn-outline-secondary add-btn update-cart">Quitar del carrito</button>
                  </a>
                  {% else %}
                  <a href="{% url 'cart_app:add-to-cart' course.slug %}">
                    <button data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                  </a>
                  {% endif %}
              </div>
              {% endif %}
              <a href="{% url 'content_app:course-list' %}"><button type="button" class="btn btn-sm btn-outline-secondary">Volver</button></a>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>




        </div>
        <div class="text-center">
          <h1 >{{course.name}}</h1>
          <p class="text-muted">--Autor: {{course.author}}</p>
        </div>
        <div class="text-center">

            <img src="{{course.thumbnail.url}}" class="img-fluid" alt="Responsive image" id="myChart" width="900">
            <hr>
            <p>{{course.description}}</p>
        </div>
        <h2>Contenido del Curso</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Capitulo</th>
                <th>Descripcion</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                  {% for video in course.videos.all %}
                  <td>
                    {{video.id}}
                  </td>
                  <td>
                    <a class="nav-link active" href="{{video.get_absolute_url}}">
                      {{video.title}}
                    </a>
                  </td>
                  <td>
                    {{video.description|slice:":100"}}
                  </td>
                  {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

{% endblock %}



---
layout: examples
title: Dashboard Template
extra_css: "dashboard.css"
extra_js:
  - "https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
  - "dashboard.js"
---
