{% extends 'core/base.html' %}

{% load static %}

{% block title %}Carrito{% endblock %}

{% block content %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/compras.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Lista de Compras</span>
          <span class="section-heading-lower">algo</span>
        </h2>
        <table class="table table-hover table-bordered text-center">
            <tr class="text-center">
                <th>nº</th>
                <th>Title</th>
                <th>Price</th>

            </tr>
            {% for item in order.items.all %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.course.name}}
                  <span class="pull-right"><a href="{% url 'cart_app:remove-from-cart' item.course.slug %}" class="text-danger"><i class="fas fa-trash"></i></a></span>
                </td>
                <td>${{item.course.price}}</td>

              </tr>
            {% empty %}
            <tr>
              <td colspan="3">Aún no has agregado artículos al carrito</td>
            </tr>
            {% endfor %}
            {% if order.get_total > 0 %}
            <tr>
              <td colspan="2">
                <strong class="pull-right">Total: </strong>
              </td>
              <td colspan="1">
                <strong>${{ order.get_total }}</strong>
              </td>
            </tr>
            {% endif %}
        </table>
        <div class="intro-button mx-auto mt-2">

            {% if order.get_total > 0 %}

              <div id="paypal-button-container"></div>

          <!-- IDEA: se podria hacer otro boton que lleve a cursos y tienda -->
          {% else %}
          <a class="btn btn-primary btn-xl" href="#">
              Agregar artículos
          </a>
          {% endif %}

        </div>




      </div>
    </div>
  </div>
</section>



<script src="https://www.paypal.com/sdk/js?client-id=AbyTJKwLUxHVds6t59uuHQ72ANO9vIDp1LnRV-2dppHPglV_SxhqyVZh09IwnBDPaYW1urYxPNfgbPbm&currency=USD"></script>

<script>

        //se agrega la variable total para pasar el valor en la createOrder:value
        var total = '{{order.get_total}}'

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>

{% endblock %}
