{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Detalle Post{% endblock %}

{% block content %}

<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="card">
          <div class="text-center">
            <h1>{{object.title|title}}</h1>
          </div>
          <img src="{{object.thumbnail.url}}" class="card-img-top" alt="">
          <hr>

          <div style="padding:10px;">

            <span><i class="fas fa-eye ml-2"></i>{{object.get_view_count}}</span>
            <span><i class="fas fa-thumbs-up ml-2"></i>{{object.get_like_count}}</span>
            <span><i class="fas fa-comments ml-2"></i>{{object.get_comment_count}}</span>
            <span class="float-right">Publicado hace {{object.publish_date|timesince}}</span>

          </div>

          <hr>
          <div style="padding:10px;">
            <p>{{object.content}}</p>
          </div>

          <hr>
          <div class="">
              <h4 class="p-3">¿Te ha gustado este artículo?</h4>
              <h6 class="p-2">Dale un "me gusta"</h6>
              <a class="text-muted p-4" href="{{object.get_like_url}}"><i class="fas fa-thumbs-up fa-lg"></i>{{object.get_like_count}}</a>
              <hr>
              <h4 class="p-3">Comentarios: </h4>
              {% for comment in object.comments %}
                <div class="p-2">
                  <p>{{ comment.content}}</p>
                  <br>
                  <small>Publicado hace {{comment.timestamp|timesince}}</small>
                </div>
              {% endfor %}
              <hr>
              {% if request.user.is_authenticated %}
                <h4 class="p-3">Deja un comentario debajo</h4>
                <form class="text-center" method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-primary btn-block p-2" type="submit" name="button">Comentar</button>
                </form>
              {% else %}
                <h6 class="p-2"><em>Debes ser un usuario identificado para dejar comentarios</em></h6>
                <a class="btn btn-primary btn-block" href="/accounts/login/">Ingresar</a>
              {% endif %}
          </div>
      </div>

    </div>

  </div>
</section>


{% endblock %}
